<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Register</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='admin/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='admin/css/sb-admin.css') }}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form action= "{{ url_for('register') }}" method="POST">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input type="hidden" name = "id" value = "">
                  {{ form.fname(class='form-control', autofocus='autofocus', placeholder='Full Name') }}
                  {{ form.fname.label }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                    {{ form.username(class='form-control', autofocus='autofocus', placeholder='Username') }}
                    {{ form.username.label }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              {{ form.email(class='form-control', placeholder='Email Address') }}
              {{ form.email.label }}
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  {{ form.password(class='form-control', placeholder='Password') }}
                  {{ form.password.label }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  {{ form.confirm(class='form-control', placeholder='Confirm Password') }}
                  {{ form.confirm.label }}
                </div>
              </div>
            </div>
          </div>
              <input type="submit" value='Register' class='btn btn-primary form-control'>
        </form>
        <div class="text-center">
          <a class="d-block small" href="{{ url_for('dashboard') }}">Return To Dashboard</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

</body>

</html>
