{% extends 'admin/layout/template.html' %}

{% block head %}
<!-- include summernote css/js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js" defer></script>
{% endblock head %}

{% block main %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{{ url_for('viewPost') }}">Post</a>
  </li>
  <li class="breadcrumb-item active">Add New Post</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Add New Post
  </div>
  <div class="card-body">
      <div class="col-md-8 mx-auto">
        <form action="{{ url_for('newPost') }}" method="POST">
          <div class="form-group">
              <label for="">Post Title</label>
              <input type="hidden" name="id" class="form-control" required>
            <input type="text" name="post_title" class="form-control" required>
          </div>
          <div class='row'>
            <div class="form-group col-md-6" >
                <label for="">Post author</label>
                <select name="post_author" class="form-control" required>
                    {% for admin in admins %}
                    <option value="{{admin.admin_id}}" >{{admin.admin_name}}</option>
                    {% endfor %}
                </select>  
            </div>
            <div class="form-group col-md-6 " >
                <label for="">Category</label>
                <select name="post_cat" class="form-control" required>
                  {% for category in categories %}
                    {% if category != '' %}
                      <option value="{{category.cat_id}}" >{{category.cat_name}}</option>
                    {% else %}
                      <option value="" >No Data to display...</option>
                    {% endif %}
                  {% endfor %}
                </select>  
            </div>
          </div>
            <div class="form-group">
                <label for="">Post Content</label>
              <textarea id="content" name="post_content" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div>
              <input type="submit" value="Add New Post" class="btn btn-primary">
            </div>
        </form>
      </div>
    
  </div>
  <div class="card-footer small text-muted">
    <a href="{{url_for('dashboard')}}">Go To Dashboard</a>
  </div>
</div>
{% endblock main %}
{% block script %}
<script>
    $(document).ready(function() {
      $('#content').summernote({
        placeholder: 'Post Content Here',
        tabsize: 2,
        height: 400
      });
    });
</script>
  {% endblock %}
