{% extends 'public/layout/template.html'  %}
    <!-- for headline -->
    {% block headline %}
      <li class="active">Login</li>
      <h2>Login Page</h2>
  {% endblock headline %}

  <!-- for the main content -->
  {% block main %}
        <div class="row">
            <div class=" span3"></div>
            <div class="span6 ">
                <div class="well well-small">
                    <h3>LOGIN</h3>
                        <div class="">
                            <form method ="POST" action = "">
                                <div class=''>
                                    {{ login.username.label }}
                                    {{ login.username }}
                                </div>
                                <div>
                                    {{ login.password.label }}
                                    {{ login.password }}
                                </div>
                                    {{ login.submit }}
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
{% endblock main %}