{% extends 'layout.html'  %}
  <!-- for the main content -->
  {% block main %}
  <article>
      <div class="row">

        <div class="span8">
          <div class="post-image">
            <div class="post-heading">
              <h3><a href="#">This is an example of standard post format</a></h3>
            </div>

            <img src="img/dummies/blog/img1.jpg" alt="" />
          </div>
          <div class="meta-post">
            <ul>
              <li><i class="icon-file"></i></li>
              <li>By <a href="#" class="author">Admin</a></li>
              <li>On <a href="#" class="date">10 Jun, 2013</a></li>
              <li>Tags: <a href="#">Design</a>, <a href="#">Blog</a></li>
            </ul>
          </div>
          <div class="post-entry">
            <p>
              Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius
              ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus...
            </p>
            <a href="#" class="readmore">Read more <i class="icon-angle-right"></i></a>
          </div>
        </div>
      </div>
    </article>
  {% endblock main %}