{% extends 'layouts/layout_no_sidebar.html'  %}
    <!-- for headline -->
    {% block headline %}
      <li class="active">Register</li>
      <h2>Sign Up Page</h2>
  {% endblock headline %}

  <!-- for the main content -->
  {% block main %}
          <div class="row">

          <div class="span12">
            <h4>About our company</h4>
            <p>
              Ei mel semper vocent persequeris, nominavi patrioque vituperata id vim, cu eam gloriatur philosophia deterruisset. Meliore perfecto repudiare ea nam, ne mea duis temporibus. Id quo accusam consequuntur, eum ea debitis urbanitas. Nibh reformidans vim ne.
            </p>
            <blockquote>
              Iudico definiebas eos ea, dicat inermis hendrerit vel ei, legimus copiosae quo at. Per utinam corrumpit prodesset te, liber praesent eos an. An prodesset neglegentur qui, usu ancillae posidonium in, mea ex eros animal scribentur. Et simul fabellas sit.
              Populo inimicus ne est.
            </blockquote>

          </div>

        </div>
{% endblock main %}